- var headerNavleft = ['One', 'Two']

- var headerNavRight = ['Three', 'Four', 'Five', 'Six']

-
	var achievements = [
		{
			value: '28',
			prop: 'Websites'
		},
		{
			value: '43',
			prop: 'Apps'
		},
		{
			value: '95',
			prop: 'Ads'
		},
		{
			value: '59',
			prop: 'Cakes'
		},
		{
			value: '18',
			prop: 'Logos'
		}
	]