-
	var gallery = [
		{
			img: 'i/notebook.png',
			title: 'Автотранспорт'
		},
		{
			img: 'i/building.png',
			title: 'Будівництво, архітектура, землекористування'
		},
		{
			img: 'i/bag.png',
			title: 'Громадянство'
		},
		{
			img: 'i/bird.png',
			title: 'Захист прав дитини'
		},
		{
			img: 'i/connect.png',
			title: 'Реєстрація місця проживання/перебування'
		},
		{
			img: 'i/graph.png',
			title: 'Підприємницька діяльність'
		},
		{
			img: 'i/blanc.png',
			title: 'Санітарне та епідемічне благополуччя, ветеринарна медицина'
		},
		{
			img: 'i/paper.png',
			title: 'Комунальне господарство'
		}
	]

- var headerTitle = 'Центр надання адміністративних послуг'