mixin header
	nav.navbar.navbar-expand-md.navbar-light.bg-light
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarCollapsable" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-icon
		div.collapse.navbar-collapse.d-md-flex.justify-content-between#navbarCollapsable
			ul.navbar-nav
				li.navbar-brand Yeti Agency
				each item in headerNavleft
					li.nav-item
						a.nav-link.text-primary(href="#")= item
			ul.navbar-nav
				each item in headerNavRight
					li.nav-item
						a.nav-link.text-primary(href="#")= item